
/* Contact Form Styles */

h2{
    text-align: center;
	font-family: "Arial";
    color: #f1f1f1;
}

/* form container */
.form-content {
    display: flex;
    justify-content: center;
    margin: 5%;
}
.form-container{
    width: 35%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
	background-color: #000000;
	border-radius: 15px;
    opacity: 85%;
    margin: 5% auto;
    color: #f1f1f1;
    padding: 50px;
}

/* input and label styling */
input, select{
    display: block;
}

select, textarea{
    width: 82%;
}


.form-text-label{
    float: left;
    clear: both;
    width: 125px;
}

.form-text-input{
    margin: 15px 0; /* 10px top/bottom, 0 left/right */
    padding: 5px;
}

/* align the checkbox group */
.contact-group{
    display: flex;
    margin: 25px 0;
}

/* add some space between the checkboxes */
.contact-group label{
    margin-right: 25px;
}

/* red asterisk for required form fields */
.required{
    color: red;
    font-weight: 900;
}

/* submit button styles */
.btn{
    background-color: #00ff00b4;
    color: #f1f1f1;
    border-radius: 5px; /* rounded corners */
    padding: 10px;
    width: 100px;
    font-size: 1.1em;
    display: block;
    margin: 2em auto;
    border: 0; /* remove default border on button */
    box-shadow: 2px 2px 2px #444
}